<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigation') %>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore 
                fuga, commodi debitis sunt cupiditate id vero in mollitia placeat 
                dignissimos ab ut, eveniet cumque, consequatur expedita unde. Dolore 
                possimus ut non ratione aliquid, asperiores dicta iste odio 
                consequuntur quia quaerat sapiente. Nulla dolorum distinctio animi 
                minus maiores. Mollitia provident ullam nulla tempora sequi eos unde 
                earum placeat aspernatur. Atque suscipit error non saepe. Voluptates 
                corporis ipsa maxime excepturi. Eum, libero, nulla sapiente 
                repudiandae cum ea explicabo magni vero quae facilis unde voluptas, 
                amet harum? Placeat, provident expedita dolorem itaque nobis sit 
                vitae animi adipisci porro iste nulla incidunt explicabo pariatur, 
                error id dolor autem eos praesentium recusandae quo quibusdam, totam 
                vero. Mollitia laboriosam fugit animi maxime modi molestiae excepturi 
                ipsa labore magnam magni incidunt ullam eaque in voluptatum odit, 
                voluptates quasi, suscipit velit cumque illo tenetur exercitationem 
                earum fuga nisi? Culpa sequi neque omnis hic asperiores ipsam quaerat 
                repudiandae nostrum odio. Assumenda odit repellendus similique error 
                quasi consequatur, cumque inventore dolores praesentium, dignissimos 
                provident et modi mollitia quod. Nulla, optio quod. Doloremque vel 
                aliquam nam adipisci nemo error quae sed officia explicabo eveniet 
                corrupti fugiat sequi, repudiandae quam veritatis perspiciatis 
                expedita iusto, ratione saepe minima pariatur nisi! Quis, numquam 
                ratione!</p>
        </section>
    </main>

    <%- include('partials/footer') %>
</body>
</html>